<div class="col-xs-6">
    <div class="form">
      <h3>Edit Task </h3>

        <%= form_for(@task, url: task_list_tasks_path, method: :patch, role:"form") do |f| %>
         <%= render "partials/task_errors" %>

          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control"%><br>

          <%= f.label :description %>
          <%= f.text_field :description, class: "form-control"%><br>

          <%= f.label :due_date %>
          <%= f.date_field :due_date, class: "form-control"%><br>

          <div>
            <%= f.label :completed %>
            <%= f.check_box :completed %>
          </div>

          <div>
            <%= f.submit "Update Task", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>  
</div>