<h3> Current Tasks</h3>

<table class="table table-bordered table-condensed table-striped" id="tasks">
  <thead>
    <tr>
      <th>Title</th>
      <th >Description</th>
      <th>Due Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @incomplete.reverse.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.due_date %></td>
        <td><%= link_to 'Edit', edit_task_list_task_path(params[:task_list_id], task.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'tasks/completed' %><br><br>   

<%= link_to 'Create A New Task', new_task_list_task_path, class: 'btn btn-default btn-s' %><br><br>