<div class="col-xs-6">
    <div class="form">
      <h1>Create A Task List</h1>

        <%= form_for(:task_list, url: task_lists_path, method: :post, role:"form") do |f| %>
         <%= render "partials/task_list_errors" %>

          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control"%><br>

          <div>
            <%= f.label :archived %>
            <%= f.check_box :archived %>
          </div>

          <div>
            <%= f.submit "Add List", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>  
</div>